
*,*::before,*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{

    background-color: #fcf7ed;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}

img{
    max-width: 100%;
    display: block;
}

:root{
    font-size: 10px;
}
a:link,
a:visited {
    color: hsl(210, 31%, 20%);
    
}

h1,h2,h3{
    font-family: 'Merriweather', serif;
    font-weight: 700;
}
h2{
    padding-bottom: 1em;
}


.container{
    width: 90%;
    margin: 0 auto;
    max-width: 1440px;

}
section{
    margin-bottom: 3em;

}
nav{
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-top: 1em;

}
.top-nav{
    list-style: none;
    display: flex;

}

.logo{
    font-size: 1.8rem;
    align-self: center;
    /* margin-top: 0.6em; */
}


.fa-circle,
.fa-search,
.fa-user,
.fa-shopping-bag{
    font-size: 1.4em;
    text-align: center;
}

.page-title{
    font-size: 2.5rem;
}


.industrial-title,
.fresh-header,
.showcase-title{
    font-size: 1.9rem;
}
/* Hero section */

.hero-img,
.explore-img{
    /* width: 95%; */
    margin-bottom: 3em;
}

p{
    font-size: 1.7rem;
    line-height: 1.7;
}

.hero-button,
.industrial-btn,
.showcase-btn{
    border: 1px solid #faa307;
    padding: 1em 1.7em;
    font-size: 1.2em;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    color: #faa307;
    background-color: #ffedd8;
}

.industrial-btn{
    margin-bottom: 3em;
}

/* fresh product section */


.product{
    margin-bottom: 1.8em;
}

.circles{
    margin: 1.5em 0;
   
}

.circles .fas,
.circles .far{
    padding-right: 0.5em;
}

.fresh-review{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fresh-rating{
    color: #f1b67d;
}

.fa-star{
    color: #eb8b31;
}

.ratings{
    color: #a7a2a1;
}

.showcase-info{
    margin-top: 2.5em;

}
.showcase-btn{
    margin-top: 2.5em;
}

.benefits-areas{
    padding: 2em 0;
}

.benefits-body{
    font-size: 1.5rem;
}

.footer-ul{
    list-style: none;
}

.footer-ul li{
    font-size: 1.3rem;
}

input{
    border: none;
    background-color: transparent;
    border-bottom: 2px solid #493f35;
    width: 100%;
    margin:1.5em 0;
}

.news-sub{
    position: relative;
}


.subscribe{
    border: none;
    background-color: transparent;
    color: #cf7339;
    position: absolute;
    right: 1%;
    top: 35%;
}
.policy{
    font-size: 1.4rem;
}
.payments{
    display: flex;
    justify-content: center;
    text-align: center;
}

.fa-google-pay,
.fa-cc-mastercard,
.fa-paypal,
.fa-cc-visa{
    font-size: 3rem;
    flex: 1;
}

.fa-google-pay{
    font-size: 3.5rem;
}

@media (min-width:500px) {
    .rows{
        display: flex;
        justify-content: space-between;
        
    }
    .hero{
        margin-bottom: 15em;
    }
    .spring-section,
    .explore-section{
        flex: 1;
    }
    .spring-section{
        margin-right: 3em;
    }

    .hero-img{
        width: 80%;
    }

    .explore-section{
        position: relative;
        
    }
    .explore-img{
        position: absolute;
        top: 0;
        bottom: 35%;
        width: 100%;
        border-radius: 5em 5em 0 0;
    }
    .explore-p{
        position: absolute;
        top: 75%;
        width: 85%;
    }
    .hero-button{
        position: absolute;
        bottom: 1%;
    }
    
}