
*,*::before,*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{

    background-color: #fcf7ed;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}

img{
    max-width: 100%;
    display: block;
}

:root{
    font-size: 10px;
}
a:link,
a:visited {
    color: hsl(210, 31%, 20%);
    
}

h1,h2,h3{
    font-family: 'Merriweather', serif;
    font-weight: 700;
    font-size: 2rem;
}

.container{
    width: 90%;
    margin: 0 auto;

}
section{
    margin-bottom: 3em;

}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 5em;
}
.top-nav{
    list-style: none;
    display: flex;
    width: 15em;
    justify-content: flex-end;
    /* border: 1px solid red; */
}

.fas,
.far{
    font-size: 1.3em;
    text-align: center;
}

/* Hero section */

.hero-img,
.explore-img{
    /* width: 95%; */
    margin-bottom: 3em;
}

p{
    font-size: 1.8rem;
    line-height: 1.7;
}

.hero-button,
.industrial-btn{
    border: 1px solid #faa307;
    padding: 1em 1.7em;
    font-size: 1.2em;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    color: #faa307;
    background-color: #ffedd8;
}

/* .spring-section{
    margin-bottom: 4em;
} */

/* .nav-link + .nav-link{
    margin-right: 1em;
} */

/* font-family: 'Merriweather', serif;
font-family: 'Ubuntu', sans-serif; */